# .NET Core related
bin/
obj/

# Visual Studio Code settings
.vscode/
*.bin
*.v2
*.dll
.vs/BuberDinner/DesignTimeBuild/.dtbcache.v2
.vs/BuberDinner/FileContentIndex/0f1c9437-4313-4839-be9f-351ff5b3a663.vsidx
.vs/BuberDinner/FileContentIndex/23889e49-532d-4522-8c48-22caf466cd78.vsidx
.vs/BuberDinner/FileContentIndex/2c32072f-a558-4bf8-8925-ec756a3cd814.vsidx
.vs/BuberDinner/FileContentIndex/8cfd57ec-6e71-44a9-ade9-991d7682db6d.vsidx
.vs/BuberDinner/FileContentIndex/b4d6c9f9-9c4f-475d-a422-c23b3b6f03c7.vsidx
.vs/BuberDinner/FileContentIndex/bd7b866a-ebce-4c3b-b560-aadc25323a28.vsidx
.vs/BuberDinner/v17/.suo
.vs/BuberDinner/v17/DocumentLayout.json
.vs/ProjectEvaluation/buberdinner.metadata.v8.bin
.vs/ProjectEvaluation/buberdinner.projects.v8.bin
.vs/ProjectEvaluation/buberdinner.strings.v8.bin
BuberDinner.Api/bin/Debug/net8.0/appsettings.Development.json
BuberDinner.Api/bin/Debug/net8.0/appsettings.json
BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Api.dll
BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Api.exe
BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Api.pdb
BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Application.dll
BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Application.pdb
BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Contract.dll
BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Contract.pdb
BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Domain.dll
BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Domain.pdb
BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Infrastructure.dll
BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Infrastructure.pdb
BuberDinner.Api/obj/BuberDinner.Api.csproj.nuget.dgspec.json
BuberDinner.Api/obj/BuberDinner.Api.csproj.nuget.g.props
BuberDinner.Api/obj/Debug/net8.0/apphost.exe
BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.AssemblyInfo.cs
BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.AssemblyInfoInputs.cache
BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.assets.cache
BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.csproj.AssemblyReference.cache
BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.csproj.CoreCompileInputs.cache
BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.csproj.FileListAbsolute.txt
BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.dll
BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.GeneratedMSBuildEditorConfig.editorconfig
BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.genruntimeconfig.cache
BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.pdb
BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.sourcelink.json
BuberDinner.Api/obj/Debug/net8.0/ref/BuberDinner.Api.dll
BuberDinner.Api/obj/Debug/net8.0/refint/BuberDinner.Api.dll
BuberDinner.Api/obj/project.assets.json
BuberDinner.Api/obj/project.nuget.cache
BuberDinner.Application/bin/Debug/net8.0/BuberDinner.Application.dll
BuberDinner.Application/bin/Debug/net8.0/BuberDinner.Application.pdb
BuberDinner.Application/bin/Debug/net8.0/BuberDinner.Domain.dll
BuberDinner.Application/bin/Debug/net8.0/BuberDinner.Domain.pdb
BuberDinner.Application/obj/BuberDinner.Application.csproj.nuget.dgspec.json
BuberDinner.Application/obj/BuberDinner.Application.csproj.nuget.g.props
BuberDinner.Application/obj/Debug/net8.0/BuberDinner.Application.AssemblyInfo.cs
BuberDinner.Application/obj/Debug/net8.0/BuberDinner.Application.AssemblyInfoInputs.cache
BuberDinner.Application/obj/Debug/net8.0/BuberDinner.Application.assets.cache
BuberDinner.Application/obj/Debug/net8.0/BuberDinner.Application.csproj.AssemblyReference.cache
BuberDinner.Application/obj/Debug/net8.0/BuberDinner.Application.csproj.CoreCompileInputs.cache
BuberDinner.Application/obj/Debug/net8.0/BuberDinner.Application.csproj.FileListAbsolute.txt
BuberDinner.Application/obj/Debug/net8.0/BuberDinner.Application.dll
BuberDinner.Application/obj/Debug/net8.0/BuberDinner.Application.GeneratedMSBuildEditorConfig.editorconfig
BuberDinner.Application/obj/Debug/net8.0/BuberDinner.Application.pdb
BuberDinner.Application/obj/Debug/net8.0/BuberDinner.Application.sourcelink.json
BuberDinner.Application/obj/Debug/net8.0/ref/BuberDinner.Application.dll
BuberDinner.Application/obj/Debug/net8.0/refint/BuberDinner.Application.dll
BuberDinner.Application/obj/project.assets.json
BuberDinner.Application/obj/project.nuget.cache
BuberDinner.Contract/bin/Debug/net8.0/BuberDinner.Contract.dll
BuberDinner.Contract/bin/Debug/net8.0/BuberDinner.Contract.pdb
BuberDinner.Contract/obj/BuberDinner.Contract.csproj.nuget.dgspec.json
BuberDinner.Contract/obj/BuberDinner.Contract.csproj.nuget.g.props
BuberDinner.Contract/obj/Debug/net8.0/BuberDinner.Contract.AssemblyInfo.cs
BuberDinner.Contract/obj/Debug/net8.0/BuberDinner.Contract.AssemblyInfoInputs.cache
BuberDinner.Contract/obj/Debug/net8.0/BuberDinner.Contract.assets.cache
BuberDinner.Contract/obj/Debug/net8.0/BuberDinner.Contract.csproj.CoreCompileInputs.cache
BuberDinner.Contract/obj/Debug/net8.0/BuberDinner.Contract.csproj.FileListAbsolute.txt
BuberDinner.Contract/obj/Debug/net8.0/BuberDinner.Contract.dll
BuberDinner.Contract/obj/Debug/net8.0/BuberDinner.Contract.GeneratedMSBuildEditorConfig.editorconfig
BuberDinner.Contract/obj/Debug/net8.0/BuberDinner.Contract.pdb
BuberDinner.Contract/obj/Debug/net8.0/ref/BuberDinner.Contract.dll
BuberDinner.Contract/obj/Debug/net8.0/refint/BuberDinner.Contract.dll
BuberDinner.Contract/obj/project.assets.json
BuberDinner.Contract/obj/project.nuget.cache
BuberDinner.Domain/bin/Debug/net8.0/BuberDinner.Domain.dll
BuberDinner.Domain/bin/Debug/net8.0/BuberDinner.Domain.pdb
BuberDinner.Domain/obj/BuberDinner.Domain.csproj.nuget.dgspec.json
BuberDinner.Domain/obj/BuberDinner.Domain.csproj.nuget.g.props
BuberDinner.Domain/obj/Debug/net8.0/BuberDinner.Domain.AssemblyInfo.cs
BuberDinner.Domain/obj/Debug/net8.0/BuberDinner.Domain.AssemblyInfoInputs.cache
BuberDinner.Domain/obj/Debug/net8.0/BuberDinner.Domain.assets.cache
BuberDinner.Domain/obj/Debug/net8.0/BuberDinner.Domain.csproj.CoreCompileInputs.cache
BuberDinner.Domain/obj/Debug/net8.0/BuberDinner.Domain.csproj.FileListAbsolute.txt
BuberDinner.Domain/obj/Debug/net8.0/BuberDinner.Domain.dll
BuberDinner.Domain/obj/Debug/net8.0/BuberDinner.Domain.GeneratedMSBuildEditorConfig.editorconfig
BuberDinner.Domain/obj/Debug/net8.0/BuberDinner.Domain.pdb
BuberDinner.Domain/obj/Debug/net8.0/ref/BuberDinner.Domain.dll
BuberDinner.Domain/obj/Debug/net8.0/refint/BuberDinner.Domain.dll
BuberDinner.Domain/obj/project.assets.json
BuberDinner.Domain/obj/project.nuget.cache
BuberDinner.Infrastructure/bin/Debug/net8.0/BuberDinner.Application.dll
BuberDinner.Infrastructure/bin/Debug/net8.0/BuberDinner.Application.pdb
BuberDinner.Infrastructure/bin/Debug/net8.0/BuberDinner.Domain.dll
BuberDinner.Infrastructure/bin/Debug/net8.0/BuberDinner.Domain.pdb
BuberDinner.Infrastructure/bin/Debug/net8.0/BuberDinner.Infrastructure.dll
BuberDinner.Infrastructure/bin/Debug/net8.0/BuberDinner.Infrastructure.pdb
BuberDinner.Infrastructure/obj/BuberDinner.Infrastructure.csproj.nuget.dgspec.json
BuberDinner.Infrastructure/obj/BuberDinner.Infrastructure.csproj.nuget.g.props
BuberDinner.Infrastructure/obj/Debug/net8.0/BuberDinner.Infrastructure.AssemblyInfo.cs
BuberDinner.Infrastructure/obj/Debug/net8.0/BuberDinner.Infrastructure.AssemblyInfoInputs.cache
BuberDinner.Infrastructure/obj/Debug/net8.0/BuberDinner.Infrastructure.assets.cache
BuberDinner.Infrastructure/obj/Debug/net8.0/BuberDinner.Infrastructure.csproj.AssemblyReference.cache
BuberDinner.Infrastructure/obj/Debug/net8.0/BuberDinner.Infrastructure.csproj.CoreCompileInputs.cache
BuberDinner.Infrastructure/obj/Debug/net8.0/BuberDinner.Infrastructure.csproj.FileListAbsolute.txt
BuberDinner.Infrastructure/obj/Debug/net8.0/BuberDinner.Infrastructure.dll
BuberDinner.Infrastructure/obj/Debug/net8.0/BuberDinner.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
BuberDinner.Infrastructure/obj/Debug/net8.0/BuberDinner.Infrastructure.pdb
BuberDinner.Infrastructure/obj/Debug/net8.0/BuberDinner.Infrastructure.sourcelink.json
BuberDinner.Infrastructure/obj/Debug/net8.0/ref/BuberDinner.Infrastructure.dll
BuberDinner.Infrastructure/obj/Debug/net8.0/refint/BuberDinner.Infrastructure.dll
BuberDinner.Infrastructure/obj/project.assets.json
BuberDinner.Infrastructure/obj/project.nuget.cache
/BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Api.deps.json
/BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Api.dll
/BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Api.exe
/BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Api.pdb
/BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Application.dll
/BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Application.pdb
/BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Contract.dll
/BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Contract.pdb
/BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Domain.dll
/BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Domain.pdb
/BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Infrastructure.dll
/BuberDinner.Api/bin/Debug/net8.0/BuberDinner.Infrastructure.pdb
/.vs/ProjectEvaluation/buberdinner.metadata.v8.bin
/.vs/ProjectEvaluation/buberdinner.projects.v8.bin
/.vs/ProjectEvaluation/buberdinner.strings.v8.bin
/.vs/BuberDinner/DesignTimeBuild/.dtbcache.v2
/.vs/BuberDinner/FileContentIndex/2c32072f-a558-4bf8-8925-ec756a3cd814.vsidx
/.vs/BuberDinner/FileContentIndex/4bd222d5-d343-40af-a30f-bb49a88105ec.vsidx
/.vs/BuberDinner/FileContentIndex/58f52114-f20a-49e5-b083-024a029ea202.vsidx
/.vs/BuberDinner/FileContentIndex/760453e1-8135-4dd7-932c-7829a3d76680.vsidx
/.vs/BuberDinner/FileContentIndex/9f17a85f-f44a-4476-9e6f-c2cbff21e7ad.vsidx
/.vs/BuberDinner/FileContentIndex/a62078fa-41be-40ef-812d-1ddeb1412f4a.vsidx
/.vs/BuberDinner/v17/.futdcache.v2
/.vs/BuberDinner/v17/.suo
/.vs/BuberDinner/v17/DocumentLayout.json
/BuberDinner.Api/obj/BuberDinner.Api.csproj.nuget.dgspec.json
/BuberDinner.Api/obj/BuberDinner.Api.csproj.nuget.g.props
/BuberDinner.Api/obj/Debug/net8.0/apphost.exe
/BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.AssemblyInfo.cs
/BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.AssemblyInfoInputs.cache
/BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.assets.cache
/BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.csproj.AssemblyReference.cache
/BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.csproj.CoreCompileInputs.cache
/BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.csproj.FileListAbsolute.txt
/BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.dll
/BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.GeneratedMSBuildEditorConfig.editorconfig
/BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.genruntimeconfig.cache
/BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.pdb
/BuberDinner.Api/obj/Debug/net8.0/BuberDinner.Api.sourcelink.json
/BuberDinner.Api/obj/Debug/net8.0/ref/BuberDinner.Api.dll
/BuberDinner.Api/obj/Debug/net8.0/refint/BuberDinner.Api.dll
/BuberDinner.Api/obj/project.assets.json
/BuberDinner.Api/obj/project.nuget.cache
/BuberDinner.Application/obj/BuberDinner.Application.csproj.nuget.dgspec.json
/BuberDinner.Application/obj/BuberDinner.Application.csproj.nuget.g.props
/BuberDinner.Application/obj/Debug/net8.0/BuberDinner.Application.AssemblyInfo.cs
/BuberDinner.Application/obj/Debug/net8.0/BuberDinner.Application.AssemblyInfoInputs.cache
/BuberDinner.Application/obj/Debug/net8.0/BuberDinner.Application.assets.cache
/BuberDinner.Application/obj/Debug/net8.0/BuberDinner.Application.csproj.AssemblyReference.cache
/BuberDinner.Application/obj/Debug/net8.0/BuberDinner.Application.csproj.CoreCompileInputs.cache
/BuberDinner.Application/obj/Debug/net8.0/BuberDinner.Application.csproj.FileListAbsolute.txt
/BuberDinner.Application/obj/Debug/net8.0/BuberDinner.Application.dll
/BuberDinner.Application/obj/Debug/net8.0/BuberDinner.Application.GeneratedMSBuildEditorConfig.editorconfig
/BuberDinner.Application/obj/Debug/net8.0/BuberDinner.Application.pdb
/BuberDinner.Application/obj/Debug/net8.0/BuberDinner.Application.sourcelink.json
/BuberDinner.Application/obj/Debug/net8.0/ref/BuberDinner.Application.dll
/BuberDinner.Application/obj/Debug/net8.0/refint/BuberDinner.Application.dll
/BuberDinner.Application/obj/project.assets.json
/BuberDinner.Application/obj/project.nuget.cache
/BuberDinner.Contract/obj/BuberDinner.Contract.csproj.nuget.dgspec.json
/BuberDinner.Contract/obj/BuberDinner.Contract.csproj.nuget.g.props
/BuberDinner.Contract/obj/Debug/net8.0/BuberDinner.Contract.AssemblyInfo.cs
/BuberDinner.Contract/obj/Debug/net8.0/BuberDinner.Contract.AssemblyInfoInputs.cache
/BuberDinner.Contract/obj/Debug/net8.0/BuberDinner.Contract.assets.cache
/BuberDinner.Contract/obj/Debug/net8.0/BuberDinner.Contract.csproj.CoreCompileInputs.cache
/BuberDinner.Contract/obj/Debug/net8.0/BuberDinner.Contract.csproj.FileListAbsolute.txt
/BuberDinner.Contract/obj/Debug/net8.0/BuberDinner.Contract.dll
/BuberDinner.Contract/obj/Debug/net8.0/BuberDinner.Contract.GeneratedMSBuildEditorConfig.editorconfig
/BuberDinner.Contract/obj/Debug/net8.0/BuberDinner.Contract.pdb
/BuberDinner.Contract/obj/Debug/net8.0/ref/BuberDinner.Contract.dll
/BuberDinner.Contract/obj/Debug/net8.0/refint/BuberDinner.Contract.dll
/BuberDinner.Contract/obj/project.assets.json
/BuberDinner.Contract/obj/project.nuget.cache
/BuberDinner.Domain/obj/BuberDinner.Domain.csproj.nuget.dgspec.json
/BuberDinner.Domain/obj/BuberDinner.Domain.csproj.nuget.g.props
/BuberDinner.Domain/obj/Debug/net8.0/BuberDinner.Domain.AssemblyInfo.cs
/BuberDinner.Domain/obj/Debug/net8.0/BuberDinner.Domain.AssemblyInfoInputs.cache
/BuberDinner.Domain/obj/Debug/net8.0/BuberDinner.Domain.assets.cache
/BuberDinner.Domain/obj/Debug/net8.0/BuberDinner.Domain.csproj.CoreCompileInputs.cache
/BuberDinner.Domain/obj/Debug/net8.0/BuberDinner.Domain.csproj.FileListAbsolute.txt
/BuberDinner.Domain/obj/Debug/net8.0/BuberDinner.Domain.dll
/BuberDinner.Domain/obj/Debug/net8.0/BuberDinner.Domain.GeneratedMSBuildEditorConfig.editorconfig
/BuberDinner.Domain/obj/Debug/net8.0/BuberDinner.Domain.pdb
/BuberDinner.Domain/obj/Debug/net8.0/ref/BuberDinner.Domain.dll
/BuberDinner.Domain/obj/Debug/net8.0/refint/BuberDinner.Domain.dll
/BuberDinner.Domain/obj/project.assets.json
/BuberDinner.Domain/obj/project.nuget.cache
/BuberDinner.Infrastructure/bin/Debug/net8.0/BuberDinner.Application.dll
/BuberDinner.Infrastructure/bin/Debug/net8.0/BuberDinner.Application.pdb
/BuberDinner.Infrastructure/bin/Debug/net8.0/BuberDinner.Domain.dll
/BuberDinner.Infrastructure/bin/Debug/net8.0/BuberDinner.Domain.pdb
/BuberDinner.Infrastructure/bin/Debug/net8.0/BuberDinner.Infrastructure.deps.json
/BuberDinner.Infrastructure/bin/Debug/net8.0/BuberDinner.Infrastructure.dll
/BuberDinner.Infrastructure/bin/Debug/net8.0/BuberDinner.Infrastructure.pdb
/BuberDinner.Infrastructure/obj/BuberDinner.Infrastructure.csproj.nuget.dgspec.json
/BuberDinner.Infrastructure/obj/BuberDinner.Infrastructure.csproj.nuget.g.props
/BuberDinner.Infrastructure/obj/Debug/net8.0/BuberDinner.Infrastructure.AssemblyInfo.cs
/BuberDinner.Infrastructure/obj/Debug/net8.0/BuberDinner.Infrastructure.AssemblyInfoInputs.cache
/BuberDinner.Infrastructure/obj/Debug/net8.0/BuberDinner.Infrastructure.assets.cache
/BuberDinner.Infrastructure/obj/Debug/net8.0/BuberDinner.Infrastructure.csproj.AssemblyReference.cache
/BuberDinner.Infrastructure/obj/Debug/net8.0/BuberDinner.Infrastructure.csproj.CoreCompileInputs.cache
/BuberDinner.Infrastructure/obj/Debug/net8.0/BuberDinner.Infrastructure.csproj.FileListAbsolute.txt
/BuberDinner.Infrastructure/obj/Debug/net8.0/BuberDinner.Infrastructure.dll
/BuberDinner.Infrastructure/obj/Debug/net8.0/BuberDinner.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/BuberDinner.Infrastructure/obj/Debug/net8.0/BuberDinner.Infrastructure.pdb
/BuberDinner.Infrastructure/obj/Debug/net8.0/BuberDinner.Infrastructure.sourcelink.json
/BuberDinner.Infrastructure/obj/Debug/net8.0/ref/BuberDinner.Infrastructure.dll
/BuberDinner.Infrastructure/obj/Debug/net8.0/refint/BuberDinner.Infrastructure.dll
/BuberDinner.Infrastructure/obj/project.assets.json
/BuberDinner.Infrastructure/obj/project.nuget.cache
/BuberDinner.Application/bin/Debug/net8.0/BuberDinner.Application.deps.json
/BuberDinner.Application/bin/Debug/net8.0/BuberDinner.Application.dll
/BuberDinner.Application/bin/Debug/net8.0/BuberDinner.Application.pdb
/BuberDinner.Application/bin/Debug/net8.0/BuberDinner.Domain.dll
/BuberDinner.Application/bin/Debug/net8.0/BuberDinner.Domain.pdb
/BuberDinner.Domain/bin/Debug/net8.0/BuberDinner.Domain.deps.json
/BuberDinner.Domain/bin/Debug/net8.0/BuberDinner.Domain.dll
/BuberDinner.Domain/bin/Debug/net8.0/BuberDinner.Domain.pdb
/BuberDinner.Contract/bin/Debug/net8.0/BuberDinner.Contract.dll
/BuberDinner.Contract/bin/Debug/net8.0/BuberDinner.Contract.pdb
/.vs/BuberDinner/FileContentIndex/600983b0-4c69-4212-af0d-bc7f89a9f1a4.vsidx
/.vs/BuberDinner/FileContentIndex/7de88862-f166-4e4c-9e71-388491b7b4ab.vsidx
/.vs/BuberDinner/FileContentIndex/e507ae15-1d00-4db8-b48c-26b419ee1b36.vsidx
/.vs/BuberDinner/FileContentIndex/fda515a4-4d94-4ed2-bd2f-89a11950d374.vsidx
/.vs/BuberDinner/FileContentIndex
